<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.onroute.android"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".reciever.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.WelcomeActivity_"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <!-- The following two intent-filters are the key to set homescreen -->
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.dashboard.DashboardActivity_"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/DashboardTheme"/>
        <activity
            android:name=".activities.VideoPlayerActivity_"
            android:screenOrientation="sensorLandscape"/>

        <service
            android:name=".services.DatabaseService"
            android:enabled="true"
            android:exported="true">
        </service>


        <service
            android:name=".services.InteractiveVideoAdService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".activities.dashboard.MusicActivity_">
        </activity>

        <receiver
            android:name=".activities.VideoPlayerActivity$AdFinishReciever"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>